html {
  height: 100%;
  width: 100%;
}

button, buttons {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  padding: 1%;
  text-decoration: none;
  display: inline-block;
  font-style: italic;
  font-size: 13px;
}

#city, #state {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 13px;
}

#testForm {
  font-style:italic;
  font-weight: 10;
}

select option {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 3%;
    background: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  margin-bottom: 2%;
  outline-style: solid 3px;
  color: #d87c63;
}

h2 {
  color: #1d1d1d;
}

h3 {
  color: #1d1d1d;
  font-style: italic;
}

p {
  color: #da3738;
  font-style: italic;
}